= simple_form_for @beer, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@beer[:name])
  = f.input :beer_type
  = error_span(@beer[:beer_type])
  = f.input :taste
  = error_span(@beer[:taste])
  = f.button :submit, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), beers_path, :class => 'btn btn-default'
